@media screen and (min-width: 766px) {
  #about-me-image {
    width: 26%;
    height: 65%;
    margin-top: -14%;
  }
}

@media screen and (max-width: 766px) {
  #about-me-image {
    width: 75%;
    height: 80%;
  }
}

@media screen and (max-width: 1000px) and (min-width: 766px) {
  #about-me-image {
    margin-top: -30%;
  }
}